<div class="grilla-container">
  <div class="grilla-header">
    <h4>Grilla de Disponibilidad</h4>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </div>

  <div class="leyenda">
    <span class="leyenda-item"><span class="color-libre"></span> Libre</span>
    <span class="leyenda-item"><span class="color-bloqueado"></span> Restricción</span>
    <span class="leyenda-item"><span class="color-confirmado"></span> Ocupado (confirmado)</span>
    <span class="leyenda-item"><span class="color-temporal-otro"></span> Reservado (otro)</span>
    <span class="leyenda-item"><span class="color-temporal-propio"></span> Mi selección</span>
  </div>

  <div class="tabla-wrapper">
    <table class="grilla-tabla">
      <thead>
        <tr>
          <th class="hora-header">Hora</th>
          <th *ngFor="let d of dias">{{ d.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hora of horas">
          <td class="hora-cell">{{ hora }}</td>
          <td
            *ngFor="let d of dias"
            class="grilla-celda"
            [ngClass]="getClaseCelda(getCelda(d.valor, hora))"
            [matTooltip]="getTooltipCelda(getCelda(d.valor, hora))"
            (click)="onCeldaClick(d.valor, hora)"
          >
            <ng-container *ngIf="getCelda(d.valor, hora) as celda">
              <mat-icon *ngIf="celda.estado === 'TEMPORAL_PROPIO'" class="celda-icon">check</mat-icon>
              <mat-icon *ngIf="celda.estado === 'TEMPORAL_OTRO'" class="celda-icon">lock</mat-icon>
              <mat-icon *ngIf="celda.estado === 'CONFIRMADO'" class="celda-icon">event_busy</mat-icon>
              <span *ngIf="celda.estado === 'CONFIRMADO' && celda.metadata?.docenteNombre" class="celda-docente">{{ celda.metadata.docenteNombre }}</span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
