DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=horarios_unt
DATABASE_USER=unt_user
DATABASE_PASSWORD=unt_pass
JWT_SECRET=horarios_unt_secret_2026
JWT_EXPIRACION=8h
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300
REDIS_URL=redis://localhost:6379
NODE_ENV=development
PORT=3000

