DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=horarios_unt
DATABASE_USER=unt_user
DATABASE_PASSWORD=unt_pass123
JWT_SECRET=horarios_unt_secret_2026
JWT_EXPIRACION=8h
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300
REDIS_URL=redis://localhost:6379
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200
CORREO_HOST=smtp.gmail.com
CORREO_PORT=587
CORREO_USER=horarios@unitru.edu.pe
CORREO_PASS=tu_clave_app_o_contrasena
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

