<button mat-icon-button class="language-btn" [matMenuTriggerFor]="languageMenu" matTooltip="Cambiar idioma">
  <span class="flag-icon">{{ getFlag(currentLang) }}</span>
</button>

<mat-menu #languageMenu="matMenu" class="language-dropdown-menu" xPosition="before">
  <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang.code)" [class.active-item]="lang.code === currentLang">
    <span class="menu-flag">{{ lang.flag }}</span>
    <span class="menu-name">{{ lang.name }}</span>
    <mat-icon *ngIf="lang.code === currentLang" class="check-icon">check</mat-icon>
  </button>
</mat-menu>
