<div class="language-selector">
  <mat-select [value]="currentLang" (selectionChange)="changeLanguage($event.value)" class="language-select">
    <mat-select-trigger>
      <span class="selected-language">
        <span class="flag">{{ getFlag(currentLang) }}</span>
        <span class="name">{{ getLanguageName(currentLang) }}</span>
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let lang of languages" [value]="lang.code">
      <span class="language-option">
        <span class="flag">{{ lang.flag }}</span>
        <span class="name">{{ lang.name }}</span>
      </span>
    </mat-option>
  </mat-select>
</div>
